Silverlight/SilverlightDemo/Service References/SPC2010Server/SPC2010WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SPC2010WcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55635/SPC2010WcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55635/SPC2010WcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55635/SPC2010WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SilverlightDemo.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISPC2010WcfService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="ISPC2010WcfService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ISPC2010WcfService_GetCustomerContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerContacts" />
  </wsdl:message>
  <wsdl:message name="ISPC2010WcfService_GetCustomerContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerContactsResponse" />
  </wsdl:message>
  <wsdl:message name="ISPC2010WcfService_GetCustomerAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerAddresses" />
  </wsdl:message>
  <wsdl:message name="ISPC2010WcfService_GetCustomerAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="ISPC2010WcfService_GetCustomerForUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerForUpdate" />
  </wsdl:message>
  <wsdl:message name="ISPC2010WcfService_GetCustomerForUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerForUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ISPC2010WcfService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="ISPC2010WcfService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="ISPC2010WcfService">
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPC2010WcfService/GetCustomers" message="tns:ISPC2010WcfService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPC2010WcfService/GetCustomersResponse" message="tns:ISPC2010WcfService_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPC2010WcfService/GetCustomerContacts" message="tns:ISPC2010WcfService_GetCustomerContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPC2010WcfService/GetCustomerContactsResponse" message="tns:ISPC2010WcfService_GetCustomerContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerAddresses">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPC2010WcfService/GetCustomerAddresses" message="tns:ISPC2010WcfService_GetCustomerAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPC2010WcfService/GetCustomerAddressesResponse" message="tns:ISPC2010WcfService_GetCustomerAddresses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerForUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPC2010WcfService/GetCustomerForUpdate" message="tns:ISPC2010WcfService_GetCustomerForUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPC2010WcfService/GetCustomerForUpdateResponse" message="tns:ISPC2010WcfService_GetCustomerForUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISPC2010WcfService/UpdateCustomer" message="tns:ISPC2010WcfService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISPC2010WcfService/UpdateCustomerResponse" message="tns:ISPC2010WcfService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISPC2010WcfService" type="tns:ISPC2010WcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/ISPC2010WcfService/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerContacts">
      <soap:operation soapAction="http://tempuri.org/ISPC2010WcfService/GetCustomerContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerAddresses">
      <soap:operation soapAction="http://tempuri.org/ISPC2010WcfService/GetCustomerAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerForUpdate">
      <soap:operation soapAction="http://tempuri.org/ISPC2010WcfService/GetCustomerForUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/ISPC2010WcfService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SPC2010WcfService">
    <wsdl:port name="BasicHttpBinding_ISPC2010WcfService" binding="tns:BasicHttpBinding_ISPC2010WcfService">
      <soap:address location="http://localhost:55635/SPC2010WcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>