Silverlight/SilverlightDemo/Service References/SPC2010Server/SPC2010WcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55635/SPC2010WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SilverlightDemo.Web" />
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SilverlightDemo.Web" minOccurs="0" name="GetCustomersResult" type="q1:MethodStatus" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SilverlightDemo.Web" minOccurs="0" name="customers" nillable="true" type="q2:ArrayOfCustomer" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SilverlightDemo.Web" minOccurs="0" name="GetCustomerContactsResult" nillable="true" type="q3:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SilverlightDemo.Web" minOccurs="0" name="GetCustomerAddressesResult" nillable="true" type="q4:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerForUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerForUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SilverlightDemo.Web" minOccurs="0" name="GetCustomerForUpdateResult" type="q5:MethodStatus" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SilverlightDemo.Web" minOccurs="0" name="customer" nillable="true" type="q6:Customer" />
        <xs:element minOccurs="0" name="grfa" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SilverlightDemo.Web" minOccurs="0" name="customer" nillable="true" type="q7:Customer" />
        <xs:element minOccurs="0" name="grfa" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SilverlightDemo.Web" minOccurs="0" name="UpdateCustomerResult" type="q8:MethodStatus" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SilverlightDemo.Web" minOccurs="0" name="customer" nillable="true" type="q9:Customer" />
        <xs:element minOccurs="0" name="grfa" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>