Silverlight/SilverlightDemo/Service References/SPC2010Server/SPC2010WcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SilverlightDemo.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SilverlightDemo.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="MethodStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="InfoError" />
      <xs:enumeration value="FatalError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MethodStatus" nillable="true" type="tns:MethodStatus" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactId" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FriendlyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salutation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkPhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressId" type="xs:int" />
      <xs:element minOccurs="0" name="AddressType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
</xs:schema>